body {
  margin-top: 40px;
}
#wrap {
  display: grid;
  grid-template-areas:
    "header header header"
    "tasks-list calendar changelog"
    "footer footer footer";
}
#external-events {
  grid-area: tasks-list;
}
#calendar {
  grid-area: calendar;
}
#changelog {
  grid-area: changelog;
}

#external-events {
  width: 250px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid #ccc;
  box-shadow: 4px 4px 5px 0 #000;
  background: #333;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 10px 0;
  padding: 10px 20px;
  cursor: pointer;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events input {
  margin: 0;
  margin-right: 6px;
  vertical-align: middle;
}

#calendar {
  width: 900px;
}

[type="checkbox"] {
  outline: none;
}
[type="checkbox"]:checked:after {
  left: -0.44em;
  top: -0.38em;
}

.remove-task {
  visibility: hidden;
  opacity: 0;
  color: #aaa;
  position: absolute;
  right: 10px;
  transition: all 0.3s;
}
label:hover .remove-task {
  visibility: visible;
  opacity: 1;
}

